<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd">


    <!-- 0.配置扫描包 -->
    <context:component-scan base-package="com.atguigu">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <!-- 1.加载properties文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!-- 2.配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.userName}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
    </bean>

    <!-- 4.配置数据源事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

<!--    &lt;!&ndash; 自定义事务属性 &ndash;&gt;-->
<!--    <tx:advice id="tx_advice" transaction-manager="transactionManager" >-->
<!--        <tx:attributes>-->
<!--            &lt;!&ndash; 写操作，需要事务 &ndash;&gt;-->
<!--            <tx:method name="save*" propagation="REQUIRED"/>-->
<!--            <tx:method name="insert*" propagation="REQUIRED"/>-->
<!--            <tx:method name="update*" propagation="REQUIRED"/>-->
<!--            <tx:method name="delete*" propagation="REQUIRED"/>-->
<!--            &lt;!&ndash; 剩下的读操作，要设置read-only="true" 底层做优化 &ndash;&gt;-->
<!--            <tx:method name="*" read-only="true"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    &lt;!&ndash;-->
<!--        AOP代理 + 切入点表达式-->
<!--    &ndash;&gt;-->
<!--    <aop:config>-->
<!--        <aop:advisor advice-ref="tx_advice"-->
<!--                     pointcut="execution(public * com.atguigu..*Service*.*(..))" />-->
<!--    </aop:config>-->


    <!-- 1.配置spring整合mybatis -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sqlSessionFactory">
        <!-- 获取Spring容器中的数据库连接池==mybatis的数据库环境 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 配置Mybatis的核心配置文件 -->
        <property name="configLocation" value="classpath:mybatis-config.xml" />
<!--        &lt;!&ndash; 配置从哪里去加载 mybatis的mapper.xml配置文件 &ndash;&gt; 好像不是必须的 -->
<!--        <property name="mapperLocations" value="classpath:com/atguigu/dao/*.xml" />-->
    </bean>

    <!--  2.配置扫描mapper接口的bean对象 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.atguigu.dao"/>
    </bean>
<!--    &lt;!&ndash; 2.把Mapper接口代理，扫描到Spring容器中  &ndash;&gt;-->
<!--    <mybatis:scan base-package="com.atguigu.dao"/>-->


</beans>